@model IEnumerable<backlogSys.Models.Tarefas>

@{
    ViewData["Title"] = "Index";
}

<h1>Página de tarefas</h1>

<p>
    <a asp-action="Create">Adicionar nova tarefa</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PontoSituacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembrosFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prazo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataConclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridade)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PontoSituacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembrosFK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prazo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConclusao)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Prioridade)
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
