@model backlogSys.Models.MembrosEquipa

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>
<div class="container">
    <h4>Membros</h4>
    <hr />
    <div class="left">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
                <br />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
                <br />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
                <br />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Efetividade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Efetividade)
                <br />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EquipaFK)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EquipaFK)
                <br />
            </dd>
        </dl>
    </div>
    <div class="right">
        <a href="~/Fotos/@Html.DisplayFor(model => model.Foto)" target="_blank">
            <img src="~/Fotos/@Html.DisplayFor(model => model.Foto)" height="200" class="imag"/>
        </a>
    </div>

</div>
<div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="link">Editar</a>|
        <a asp-action="Index" class="link">Voltar à lista</a>
</div>
